.nav-links{
    flex: 1;
    text-align: left;
    padding-top: 15px;
}

.nav-links ul{
    display: inline-block;
    list-style-type: none;
}
.nav-links ul li{
    display: inline-block;
    margin-right: 50px;
}
.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 17px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #ec3ba8;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

.button_red{
    display: inline-block;
    background: #ff0000;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    cursor: pointer;
}

.button_red:hover{
    background-color: rgb(99, 0, 0);
    color: #ddd;
    transition: .5s;
    cursor: pointer;
}

.button_green{
    display: inline-block;
    background: #01b32df8;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    cursor: pointer;
}

.button_green:hover{
    background-color: rgb(21, 58, 3);
    color: #ddd;
    transition: .5s;
    cursor: pointer;
}

.area_drag_n_drop{
    width:500px;
    height:500px;  
    border:2px dashed #ccc;  
    line-height:500px;  
    text-align:center;  
    font-size:24px;
    margin: auto;
  }
.hover_area_drag{
    color: #fff;
    border-color: #000;
  }